<!DOCTYPE html>
<html lang="en">

<head>


  <title>About</title>


  <link rel="shortcut icon" href="img/fav.png" type="image/png">

  <link rel="stylesheet" type="text/css" href="assets/bootstrap-5.2.3/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="assets/css/web.css">
  <link rel="stylesheet" type="text/css" href="assets/css/about.css">




</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <nav id="menu" class="navbar navbar-default navbar-fixed-top mynav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span
            class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand page-scroll" href="#page-top"><i class="fa fa-play fa-code"></i> HOTEL</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/home" class="page-scroll"><b>HOME</b></a></li>
          <li><a href="/booking" class="page-scroll"><b>BOOKING</b></a></li>
          <li><a href="/about" class="page-scroll"><b>ABOUT</b></a></li>
        </ul>
      </div>
    </div>
  </nav>






  <header id="header">
    <div class="intro">
      <section class="text-center about">
        <h1>About US</h1>
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
              <h2>Section 1</h2>
              <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled</p>
            </div>
            <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
              <h2>Section 2 </h2>
              <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled</p>
            </div>
            <div class="clearfix visible-md-block visible-sm-block"></div>
            <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
              <h2>Section 3</h2>
              <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled</p>
            </div>
          </div>


          <h2> </h2>

          <div class="col-xs-12 col-md-6"> <img src="assets/image/bartender.jpg" class="img-responsive" alt=""> </div>

          <div class="about-text">
            <h2>TEXT</h2>
            <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
              been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
              type and scrambled</p>
            <a href="/booking" class="btn btn-custom btn-lg page-scrolsl">Book Now</a>
          </div>
        </div>

      </section>
    </div>
  </header>


  <div id="footer">
    <div class="container text-center">
      <div class="fnav">
        <p>Address : <a href="" rel="nofolslow">Adare County Limerick</a>.</p>
        <p>Phone : <a href="" rel="nofollow">+91 9852 8855 252</a>.</p>
        <p>Email : <a href="" rel="nofollow">Help@hotel.com</a>.</p>
        <p>Copyright &copy; 2050 HOTEL. Designed by <a href="" rel="nofollow">Sakib</a>.</p>
      </div>
    </div>
  </div>










  <script type="text/javascript" src="assets/bootstrap-5.2.3/js/bootstrap.js"></script>
  <script type="text/javascript" src="assets/js/SmoothScroll.js"></script>
  <script type="text/javascript" src="assets/js/main.js"></script>
  <script type="text/javascript" src="assets/js/myjs.js"></script>
</body>

</html>