<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <title>room Table</title>

    <link rel="stylesheet" href="assets/materialize/css/materialize.min.css" media="screen,projection" />
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/custom-styles.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a href="/bookingadmin" class=" waves-effect waves-dark"><i class="fa fa-table"></i> booking </a>
                </li>
                <li>
                    <a href="/customer" class="waves-effect waves-dark"><i class="fa fa-edit"></i> customer </a>
                </li>
                <li>
                    <a href="/room" class="active-menu waves-effect waves-dark"><i class="fa fa-fw fa-file"></i> room </a>
                </li>
                <li>
                    <a href="/logoutadmin" class="waves-effect waves-dark"><i class="fa fa-fw fa-file"></i> Logout </a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                Room table 
            </h1>
        </div>
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Room Number</th>
                                            <th>Type</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <% result.forEach(result=>{ %>
                                            <tr class="odd gradeX">
                                            <td><%= result.RoomNum %></td>
                                            <td><%= result.Type %></td> 
                                            <td style='white-space: nowrap' class="center"> 
                                                <a href="#" type="button" class="btn btn-primary">Edit</a>
                                                <a href="#" type="button" class="btn btn-danger">Delete</a>
                                            </td>
                                        </tr>
                                        <%})%>                                                                             
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="assets/js/jquery-1.10.2.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/materialize/js/materialize.min.js"></script>
    <script src="assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="assets/js/dataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>


</body>

</html>