<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/assets/css/style.css" />
    <link
      rel="stylesheet"
      href="/assets/bootstrap-5.2.3/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/assets/bootstrap-5.2.3/js/bootstrap.min.js" />

    <title>Signup Page</title>
  </head>
  <body class="text-center">
    <main class="form-login w-100 m-auto">
      <form action="/signup" method="post">
        <h1 class="h3 mb-3 fw-normal">Sign Up</h1>

        <div class="form-floating">
          <input
            type="content"
            class="form-control"
            id="floatingInput"
            placeholder="First Name"
            name="fname"
          />
          <label for="floatingInput">First name</label>
        </div>
        <div class="form-floating">
          <input
            type="content"
            class="form-control"
            id="floatingInput"
            placeholder="Last Name"
            name="lname"
          />
          <label for="floatingInput">Last name</label>
        </div>
        <div class="form-floating">
          <input
            type="content"
            class="form-control"
            id="floatingInput"
            placeholder="NID"
            name="NID"
          />
          <label for="floatingInput">NID</label>
        </div>
        <div class="form-floating">
          <input
            type="content"
            class="form-control"
            id="floatingInput"
            placeholder="Phone"
            name="contact"
          />
          <label for="floatingInput">Phone</label>
        </div>
        <!-- <div class="form-floating">
          <input
            type="content"
            class="form-control"
            id="floatingInput"
            placeholder="11/05/2000"
            name="DOB"
          />
          <label for="floatingInput">Date of Birth <em>yyyy/mm/dd</em></label>
        </div> -->
        <!-- <div class="form-floating">
          <input class="form-control" type="date" name="DOB" required>
            <label for="floatingInput">Date of Birth</label>
        </div> -->

        <div class="form-group">
          
          <input
            class="form-control"
            id="floatingInput"
            name="DOB"
            type="date"
            required
            placeholder="Date of Birth"
          />
        </div>
        <div class="form-floating">
          <input
            type="content"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
            name="email"
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
            name="password"
          />
          <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">
          Sign Up
        </button>

      </form>

      <p class="mb-3 fw-normal" style="padding-top: 5%;">Already Have an Account? Login Here</p>

        <a href="/login"><button class="w-35 btn btn-lg btn-danger">Login</button></a>
    </main>
  </body>
</html>
