<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="shortcut icon" href="img/fav.png" type="image/png">


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/bootstrap-5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap-5.2.3/js/bootstrap.min.js"> 

    <title>login page</title>
</head>
<body class="text-center">
    
    <main class="form-signin w-100 m-auto">
      <form>
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
    
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>

        <p class="mb-3 fw-normal" style="padding-top: 5%;">Don't have an account sign-up today</p>

        <button class="w-35 btn btn-lg btn-primary" type="submit">Sign up</button>




      </form>
    </main>
    
    
        
      </body>
</html>