<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/bootstrap-5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap-5.2.3/js/bootstrap.min.js"> 

    <title>admin login page</title>
</head>
<body class="text-center">
    
    <main class="form-login w-100 m-auto">
      <form>
        <h1 class="h3 mb-3 fw-normal">Sign Up</h1>
    
        <div class="form-floating">
            <input type="content" class="form-control" id="floatingInput" placeholder="First Name">
            <label for="floatingInput">First name</label>
        </div>
        <div class="form-floating">
            <input type="content" class="form-control" id="floatingInput" placeholder="Last Name">
            <label for="floatingInput">Last name</label>
        </div>
        <div class="form-floating">
            <input type="content" class="form-control" id="floatingInput" placeholder="NID">
            <label for="floatingInput">NID</label>
        </div>
        <div class="form-floating">
            <input type="content" class="form-control" id="floatingInput" placeholder="Phone">
            <label for="floatingInput">Phone</label>
        </div>
        <div class="form-floating">
            <input type="content" class="form-control" id="floatingInput" placeholder="11/05/2000">
            <label for="floatingInput">Date of Birth</label>
        </div>
        <div class="form-floating">
          <input type="content" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>    
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
      </form>
    </main>
    
    
        
      </body>
</html>