body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.err_msg {
  width: 100%;
  color: aliceblue;
}

button {
  width: 100%;
}
